/*
STructural Elements
*/

#app {
  box-sizing: border-box;
  max-width: 620px;
  background-color: #f2ede6;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
}
div.page_content {
  max-width: 620px;
  background-color: white;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
div.app-series-header,
div.Xapp-link {
  max-width: 520px;
  padding-top: 10px;
  margin: 0 auto;
}

div.chapter_number {
  display: inline;
  float: left;
  padding-right: 10px;
}
div.chapter_number.rtl {
  display: inline;
  float: right;
  padding-left: 10px;
  padding-bottom: 20px;
}
div.chapter_number.series {
  padding-bottom: 20px;
}

.container {
  background-color: white;
}
/*
Navigation Area
*/

#nav {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.nav {
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nav.full {
  width: 100%;
  margin: 0 auto;
}
img.journey-notice-icon {
  width: 25%;
}
.shadow-card.notpublished {
  background-color: #ff0;
}
p.notice {
  background-color: yellow;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 18pt;
}
div.notice {
  background-color: yellow;
  text-align: center;
  border: 5px;
  border-color: yellow;
  border-style: solid;
  padding-bottom: 30px;
  padding-top: 60px;
}
/*
Content Reauired

*/
p.indent {
  margin-left: 20px;
}
.indent2 {
  margin-left: 40px;
}
.indent3 {
  margin-left: 60px;
}
div.note-area {
  width: 100%;
  display: block;
  background-color: #efefef;
}
textarea {
  background-color: #efefef;
  width: 100%;
}
.year {
  text-align: center;
  color: blue;
  font-weight: bold;
}
div.trainer {
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background: orange url(../images/css/trainer.png);
  background-position: 8px 2px;
  background-repeat: no-repeat;
}
div.trainer-hide {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.reveal {
  background: lightblue url(../images/css/reveal.png);
  background-position: 8px 2px;
  background-repeat: no-repeat;
}
.reveal.bible {
  color: black;
  background: pink url(../images/css/bible.png);
  background-position: 8px 2px;
  background-repeat: no-repeat;
}
.audio.reveal,
.reveal.audio {
  background: lightblue url(../images/css/audio.png);
  background-position: 8px 2px;
  background-repeat: no-repeat;
}
.reveal.video {
  background: lightblue url(../images/css/video.png);
  background-position: 8px 2px;
  background-repeat: no-repeat;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #fff;
  color: #000;
}
.bible-book-error {
  color: purple;
}
.bible-text-error {
  color: green;
}

hr.reveal {
  border-top: 1px dashed red;
}

div.invisible {
  padding: 0 5px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
li.nobreak {
  color: purple;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 12px;
}
.popup {
  color: green;
  font-style: italic;
}
li.nobreak-final,
li.nobreak-final-final {
  color: black;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 12px;
}
.action,
.external-movie,
.external-audio,
.collapsible {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 18px;
  padding-left: 60px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background: var(--color-blue-mc2) url(../images/css/reveal.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
.close,
#close {
  float: right;
  padding: 2px 5px;
}
img.close {
  height: 25px;
  width: 25px;
}
#addToHomeScreen,
#addToHomeScreenIos,
#addToHomeScreenAndroid {
  background: yellow;
  width:70%;
  max-width: 300px;
  border-radius: 15px;
  padding: 20px;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.action {
  background: var(--color-blue-mc2) url(../images/css/action.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
.collapsible.bible {
  background: var(--color-blue-mc2) url(../images/css/bible.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
.external-audio {
  background: var(--color-blue-mc2) url(../images/css/audio.png);
  background-position: 8px 15px;
  background-repeat: no-repeat;
}
.external-movie {
  background: var(--color-blue-mc2) url(../images/css/video.png);
  background-position: 8px 15px;
  background-repeat: no-repeat;
}
.revealed {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 18px;
  padding-left: 60px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background: #777 url(../images/css/white_minus.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
.revealed.bible {
  background: #777 url(../images/css/white_minus.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
.revealed.video {
  background: #777 url(../images/css/white_minus.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}

.active,
.active h2,
.collapsible:hover {
  background-color: #555;
  color: white;
}

.collapsed {
  padding: 28px;
  font-weight: bold;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.hidden {
  visibility: hidden;
}
.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  line-height: 1.4;
  min-height: 40px;
}

/*
Download Commands

*/

.center {
  text-align: center;
}
p#offline-ready {
  color: #de1e25;
  text-align: center;
  font-size: 80%;
  visibility: hidden;
}
.cache-series {
  background: #de1e25;
  background-image: -webkit-linear-gradient(top, #de1e25, #de1e25);
  background-image: -moz-linear-gradient(top, #de1e25, #de1e25);
  background-image: -ms-linear-gradient(top, #de1e25, #de1e25);
  background-image: -o-linear-gradient(top, #de1e25, #de1e25);
  background-image: linear-gradient(to bottom, #de1e25, #de1e25);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
/*
Languages
*/
.languages {
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #999999;
  letter-spacing: 0.1em;
  font-size: 18pt;
}
img.languages {
  width: 80%;
  max-width: 400px;
}
div.languages {
  text-align: center;
  margin-top: 48px;
}
a.no_underline {
  color: #333130;
  text-decoration: none;
}
/*
iOS
*/
div.ios-notice-image{
 text-align: center;
  background-color: yellow;
  padding: 10px;
}
img.ios-notice-icon{
    width:100px;
}

/*
Footer
*/
div.footer {
  margin-top: 96px;
}
div.footer {
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-bottom: 75px;
}
p.footer {
  text-align: center;
}

/*
Social
*/
table.social {
  width: 100%;
  margin-top: 30px;
}
td.social {
  width: 33%;
  text-align: center;
}
img.social {
  height: 60px;
  width: 60px;
}
img.header {
  width: 100%;
}

hr {
  box-sizing: content-box;
  height: 3px;
  overflow: visible;
}
ol.rtl {
  list-style-type: arabic-indic;
}
img.help-icon {
  height: 20px;
  width: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
img.screen-shot {
  border-color: black;
  border-style: solid;
  padding: 10px;
  width: 90%;
}
div.iframe-container {
  align-content: center;
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 10px;
  right: 10px;
  position: absolute;
  top: 0;
  width: 95%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

/*pinch-zoom*/
.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.pinch-zoom-parent {
  height: 80vh;
  width: 95vw;

}


.overlay {
    background-color: darkgray;
    max-width: 3000px;
    border-radius: 15px;
    padding: 20px;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }



pinch-zoom-close {
  background-color: darkgray;
  z-index: 999;
}

img.pinch {
  height: 90vh;
}

div.pinch-zoom div.description h1 {
  font-size: 40px;
  margin: 0px;
  margin-bottom: 10px;
}

div.pinch-zoom div.description p {
  margin-bottom: 1em;
}
*for small screen */
@media only screen and (max-width: 500px) {

li.nobreak-final,
li.nobreak-final-final {

  margin-left: -5px;
}
}
